<!-- If user is logged in, these will be shown in the header-->
@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item"><a class="nav-link" href="~/Home/SignOut">Logga ut</a></li>
    <li class="nav-item"><a class="nav-link" href="~/Home/Profil">Min sida</a></li>
}
else
{
    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Login">Logga in</a></li> <!-- User NOT logged in -->
}