@{
    ViewData["Title"] = "Home Page";
}

<div class="divFirstpage1">
    <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index"><button class="buttonFirstpage"><p class="firstPageText">SPONSORER</p></button></a>

    <a class="nav-link" asp-area="" asp-controller="Mails" asp-action="Index"><button class="buttonFirstpage2"><p class="firstPageText">MAILADRESSER</p></button></a>
</div>