/* CSS */
.buttonCreate {
    align-items: center;
    background-image: linear-gradient(144deg,#D36716, #303076ff 50%,#313177); /*#D36716 #313177*/
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 50px;
    outline: none;
}

    .buttonCreate:active,
    .buttonCreate:hover {
        text-decoration: none;
        outline: none;
    }

    .buttonCreate span {
        background-color: black;
        padding: 16px 24px;
        border-radius: 6px;
        width: 100%;
        height: 100%;
        transition: 300ms;
        text-decoration: none;
    }

    .buttonCreate:hover span {
        background: none;
        text-decoration: none;
        outline: none;
    }

@media (min-width: 768px) {
    .buttonCreate {
        font-size: 24px;
        min-width: 196px;
        text-decoration: none;
        outline: none;
    }
}













/* CSS */
.buttonEdit2 {
    align-items: center;
    background-image: linear-gradient(144deg,#D36716, #303076ff 50%,#313177); /*#D36716 #313177*/
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 50%;
    min-width: 70px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    align-content: center;
    text-align: center;
}

    .buttonEdit2:active,
    .buttonEdit2:hover {
        text-decoration: none;
        outline: none;
    }

    .buttonEdit2 span {
        background-color: black;
        padding: 20px 0px;
        border-radius: 6px;
        width: 100%;
        height: 50%;
        transition: 300ms;
        align-items: center;
        text-align: center;
        justify-content: center;
        text-decoration: none;
    }

    .buttonEdit2:hover span {
        text-align: center;
        background: none;
        text-decoration: none;
        outline: none;
    }

@media (min-width: 334px) {
    .buttonEdit2 {
        text-align: center;
        font-size: 12px;
        min-width: 98px;
        text-decoration: none;
        outline: none;
    }
}














/* CSS */
.buttonEdit {
    align-items: center;
    background-image: linear-gradient(144deg,#00124e, #002a8e 50%,#0060c8); /*#D36716 #313177*/
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 50%;
    min-width: 70px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    align-content: center;
    text-align: center;
}

    .buttonEdit:active,
    .buttonEdit:hover {
        text-decoration: none;
        outline: none;
    }

    .buttonEdit span {
        background-color: black;
        padding: 20px 0px;
        border-radius: 6px;
        width: 100%;
        height: 50%;
        transition: 300ms;
        align-items: center;
        text-align: center;
        justify-content: center;
        text-decoration: none;
    }

    .buttonEdit:hover span {
        text-align: center;
        background: none;
        text-decoration: none;
        outline: none;
    }

@media (min-width: 334px) {
    .buttonEdit {
        text-align: center;
        font-size: 12px;
        min-width: 98px;
        text-decoration: none;
        outline: none;
    }
}





/* CSS */
.buttonDelete {
    
    align-items: center;
    background-image: linear-gradient(144deg,#4f0101, #930000 50%,#c20202); /*#D36716 #313177*/
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 50%;
    min-width: 70px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    
    text-align: center;
}

    .buttonDelete:active,
    .buttonDelete:hover {
        text-decoration: none;
        outline: none;
    }

    .buttonDelete span {
        background-color: black;
        padding: 20px 0px;
        border-radius: 6px;
        width: 100%;
        height: 50%;
        transition: 300ms;
        align-items: center;
        text-align: center;
        justify-content: center;
        text-decoration: none;
    }

    .buttonDelete:hover span {
        background: none;
        text-decoration: none;
        outline: none;
    }
    .buttonDelete span text {
        text-align: center;
        justify-content: center;
        text-decoration: none;
    }
@media (min-width: 334px) {
    .buttonDelete {
        text-align: center;
        font-size: 12px;
        min-width: 98px;
        text-decoration: none;
        outline: none;
    }
}





/* CSS */
.buttonDelete2 {
    align-items: center;
    background-image: linear-gradient(144deg,#4f0101, #930000 50%,#c20202); /*#D36716 #313177*/
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 50px;
    outline: none;
}

    .buttonDelete2:active,
    .buttonDelete2:hover {
        text-decoration: none;
        outline: none;
    }

    .buttonDelete2 span {
        background-color: black;
        padding: 16px 24px;
        border-radius: 6px;
        width: 100%;
        height: 100%;
        transition: 300ms;
        text-decoration: none;
    }

    .buttonDelete2:hover span {
        background: none;
        text-decoration: none;
        outline: none;
    }

@media (min-width: 768px) {
    .buttonDelete2 {
        font-size: 24px;
        min-width: 196px;
        text-decoration: none;
        outline: none;
    }
}





/* CSS */
.buttonUpload {
    align-items: center;
    background-image: linear-gradient(144deg,#313177, #D36716 50%,black); /*#D36716 #313177*/
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 50%;
    min-width: 70px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
    text-align: center;
}

    .buttonUpload:active,
    .buttonUpload:hover {
        text-decoration: none;
        outline: none;
    }

    .buttonUpload span {
        background-color: black;
        padding: 20px 0px;
        border-radius: 6px;
        width: 100%;
        height: 50%;
        transition: 300ms;
        align-items: center;
        text-align: center;
        justify-content: center;
        text-decoration: none;
    }

    .buttonUpload:hover span {
        background: none;
        text-decoration: none;
        outline: none;
    }

    .buttonUpload span text {
        text-align: center;
        justify-content: center;
        text-decoration: none;
    }

@media (min-width: 334px) {
    .buttonUpload {
        text-align: center;
        font-size: 12px;
        min-width: 98px;
        text-decoration: none;
        outline: none;
    }
}





.buttoncard1 {
    margin-bottom: 15px;
    justify-content: center;
}




@media screen and (min-width: 1000px) {
    .buttonCardDelete {
    margin-bottom: 15px;
    margin-left:5px;
    
}

@media screen and (min-width: 1000px) {
    .buttoncard1 {
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
    }



    .evenue-card-text-container {
        margin: 0;
        padding: 0;
        min-height: 500px;
    }

    .evenue-align-horizontal {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }