@model GruppNrSexMVC.Models.MailListModel

@{
    ViewData["Title"] = "Create";
}

<h1>Skriv Ditt Mejl:</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mailadress" class="control-label"></label>
                <input asp-for="Mailadress" class="form-control" />
                <span asp-validation-for="Mailadress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <Button type="submit" class="buttonCreate"><span class="text">Skapa Mejl</span></Button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><button class="buttonEdit"><span class="text">Tillbaka Till Mejladresser</span></button></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
