@model GruppNrSexMVC.Models.MailListModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Mail</h1>

<h3>Vill du verkligen ta bort Mailadress? </h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mailadress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mailadress)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <Button type="submit" class="buttonDelete2"><span class="text">RADERA</span></Button> |
        <a asp-action="Index"><button class="buttonEdit"><span class="text">TILLBAKA</span></button></a>
    </form>
</div>
