@model IEnumerable<GruppNrSexMVC.Models.MailListModel>

@{
    ViewData["Title"] = "Index";
}

<h1>MAILADRESSER: </h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mailadress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mailadress)
            </td>
            
            <td>
                <div class="buttoncard1">
                    <a asp-action="Edit" asp-route-id="@item.Id"><button class="buttonEdit2"><span class="text">REDIGERA</span></button></a><p>   </p>
                    <a asp-action="Delete" asp-route-id="@item.Id"><button class="buttonDelete"><span class="text">RADERA</span></button></a>
                </div>
            </td>
            
        </tr>
        }
    </tbody>
</table>
<div class="buttoncard1">
    <a asp-action="Create"><button class="button"><span class="text">LÄGG TILL MAIL</span></button></a>
    <a asp-action="Send"><button class="button"><span class="text">SKICKA TILL ADRESS</span></button></a>
    <a asp-action="SendToAll"><button class="button"><span class="text">SKICKA TILL ALLA</span></button></a>
</div>


